.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #111827;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar ul li:hover {
  background-color: #1f2937;
}